body,html{
    padding: 0;
    margin: 0;
    background: white;
    overflow-x: hidden;
}

.navigation{
    padding-top:7vh;
    padding-bottom:1vh;
    position:fixed;
    top:0;
    width:100%;
    z-index:1;
}

.navbar-right{
    float:right;
    padding-right:10%;
}

.navbar-right a{
    text-decoration:none;
    padding:10px;
    color: #fff;
    font-family:'Roboto';
    font-size: 1.5em;    
    font-weight:100;
}

.navbar-right a.color{
    color: black;
}

.intro{
    padding-top: 6vh;
    padding-bottom: 45vh;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../../assets/imgs/header.jpg) no-repeat center;
    background-size: cover;
}

.intro h1{
    font-family: 'Playfair Display';
    font-weight: 100;
    padding-top: 38vh;
    padding-bottom: 2vh;
    margin: 3vh 0 0  5vw;
    font-size: 2em;
    color: white;
}

.wrapper{
    padding: 10vh 0 20vh 0;
    display: flex;
    flex-wrap: wrap;
    width: 96vw;
    margin: 4vh;
}

.wrapper a{
    text-decoration: none;
    color: black;
    cursor:pointer;
}

.wrapper h1{
    font-family: 'Lato';
    font-weight: 300;
    font-size: 1.8em;
}

.wrapper h1:hover{
    text-decoration: underline;
}

.wrapper h2{
    font-family: 'Playfair Display';
    font-weight: 100;
    font-size: 1em;
}

.SHOPIFY{
    padding-top: 15%;
    margin: 1vw;
    width: 30%;
}

.NEXT36{
    padding-top: 10%;
    margin: 2vw;
    width: 30%;
}


.CIBC{
    padding-top: 18%;
    margin: 1vw;
    width: 30%;
}

@media (max-width: 1024px){ 
    .wrapper{
        flex-wrap: wrap;
        margin: 2vh;
    }
    
    .wrapper h1{
        font-size: 1.5em;
    }
    
    .SHOPIFY{
        margin: 6vw;
        width: 40%;
    }

    .NEXT36{
        margin: 3vw;
        width: 40%;
    }
    
    .CIBC{
        padding-top: 0%;
        margin: 4vw;
        width: 40%;
    }
    
}

@media (max-width: 550px){
    
    .navbar-right a{
        font-size: 1em;    
    }
    
    .SHOPIFY{
        padding-top: 15%;
        margin: 3vw;
        width: 90%;
    }

    .NEXT36{
        padding-top: 15%;
        margin: 3vw;
        width: 90%;
    }

    .CIBC{
        padding-top: 15%;
        margin: 3vw;
        width: 90%;
    }
}

