body,html{
    padding: 0;
    margin: 0;
    background: white;
    overflow-x: hidden;
}

.intro{
    width: 95vw;
    height: 95vh;
    margin: 2.5vh 2.5vw 2vw 2.5vw;
    background-color: #f5f5f5;
}

.header a{
    font-size: 1.5em;
    margin-right: 0.8vw;
    color: #424242;
    text-decoration: none;
    opacity: 0.5;
}

.header a:hover{
    opacity: 1;
    color: tomato;
}

.header{
    width: 90vw;
    padding-top: 40vh;
    padding-left: 4vw;
    font-family: "Roboto", sans-serif;
}

.header h1{
    font-size: 2em;
    font-weight: 100;
    color:#424242;
}

.header h2{
    font-size: 1.5em;
    font-weight: 100;
    margin-top: -25px;
}

.wrapper{
    display: flex;
    width: 95vw;
    height: 90vh;
    margin: 2.5vh 2.5vw 2.5vh 2.5vw;
}

.wrapper2{
    display: flex;
    width: 95vw;
    height: 90vh;
    margin: 2.5vh 2.5vw 2.5vh 2.5vw;
}

.project-header{
    display: flex;
    width: 100%;
    height: 10%;
    margin: 2.5vh;
}

.name{
    width: 93%;
}

.name h1{
    display: relative;
    font-family: "Roboto", sans-serif;
    font-size: 1.5em;
    font-weight: 100;
    margin-left: 0.5vw;
}

button{
    margin-top: 1vh;
    position: relative;
    background-color: transparent;
    padding: 1vh 1.5vw 1vh 1.5vw;
    border-radius: 3px;
    font-size: 1em;
    cursor:pointer;
}


.cibc-image{
    display: flex;
    width: 50%;
    margin-right: 1vw;
    border-radius: 3px;
    cursor:pointer;
    background: url(../../imgs/CIBC.jpg) no-repeat center;
    background-size: cover;
}

.cibc-image button{
    border-color: black;
    opacity: 0.5;
}

.cibc-image button:hover{
    opacity: 1.0;
}

.next36-image{
    display: flex;
    width: 50%;
    margin-left: 1vw;
    border-radius: 3px;
    background: url(../../imgs/tag.jpg) no-repeat center;
    background-size: cover;
    color:white;
    cursor:pointer;
}

.next36-image button{
    color: white;
    border-color: white;
    opacity: 0.5;
}

.next36-image button:hover{
    opacity: 1.0;
}

.condeco-image{
    display: flex;
    width: 100%;
    border-radius: 3px;
    background: url(../../imgs/Condeco.jpg) no-repeat center;
    background-size: cover;
    color:white;
    cursor:pointer;
}

.condeco-image button{
    color: white;
    border-color: white;
    opacity: 0.5;
}

.condeco-image button:hover{
    opacity: 1.0;
}

.about{
    display: flex;
    width: 95vw;
    margin: 2vw 2.5vw 10vh 2.5vw;
}

.text-box{
    color: white;
    background-color: #424242;
    margin-right: 1vw;
    width: 80%;
    font-family: "Roboto" , sans-serif;  
}

.text-box h1{
    margin: 35px;
    font-size: 2em;
    font-weight: 100;

}

.text-box p{
    margin: 35px;
    font-size: 1em;
    font-weight: 100;

}

.text-box a{
    color: white;
    font-size: 1em;
    text-decoration: none;
    opacity: 0.8;
    margin-right: 0.8vw;
}

.text-box a:hover{
    opacity: 1;
    color: tomato;
}

.about-social{
    margin: 35px;
}

.image-me{
    width: 50%;
    height: 65vh;
    margin-left: 1vw;
    background-image: url(../../imgs/me.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

footer{
    width: 90%;
    padding-top: 2vh;
    margin: 5vh 5vw 5vh 5vw;
    height: 60px;
}

hr{
    opacity:0.8;
}

.social-footer a{
    margin: 8px 8px 0 0px;
    color: #424242;
    text-decoration: none;
    opacity: 0.8;
    font-size: 1.2em
}

.social-footer a:hover{
    opacity: 1;
    color: tomato;
}

.ref-button{
    font-family: "Roboto" , sans-serif;
    float: right;
    font-weight: 100;
}

@media (max-width: 1024px){    
    .header a{
        font-size: 1.5em;
        margin-right: 0.8vw;
        color: #424242;
        text-decoration: none;
        opacity: 0.5;
    }
    
    .wrapper{
        flex-direction: column;
        width: 95vw;
        min-height: 200vh;
    }
    
    .cibc-image{
        width: 100%;
        height: 100%;
        margin-right: 0vw;
    }
        
    button{
        margin-top: 2vh;
        padding: 1vh 2.5vw 1vh 2.5vw;
    }
    
    .next36-image{
        width: 100%;
        height: 100%;
        margin-top: 2.5vh;
        margin-left: 0vw;
    }
    
    .about{
        flex-direction: column;
        width: 95vw;
    }
    
   .text-box{
        width: 100%;
        order: 2;
    }
    
    .text-box h1{
        font-size: 2em;
    }

    .text-box p{
        font-size: 1em;
    }
    
    .image-me{
        width: 100%;
        height: 60vh;
        margin: 0 0 0 0;
        background-image: url(../../imgs/me.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    
    .social-footer a{
        font-size: 1.2em;
        margin-right: 8px;
    }
}

@media (max-width: 750px){
    .intro{
        width: 95vw;
        height: 80vh;
        margin: 2.5vh 2.5vw 2vw 2.5vw;
        background-color: #f5f5f5;
    }
    
    .header{
        width: 90vw;
        padding-top: 35vh;
        padding-left: 4vw;
        font-family: "Roboto", sans-serif;
    }
    
    .header h1{
        font-size: 1.5em;
    }

    .header h2{
        font-size: 1em;
        margin-top: -15px;
    }
    .header a{
        font-size: 1em;
    }
    
}

@media (max-width: 414px) and (max-height:736px){   
    .header-image h1{
        font-size: 1.4em;
    }
            
    .text-box h1{
        font-size: 1.5em;
    }

    .text-box p{
        font-size: 1em;
    }
}

.m-scene {
}
  
.scene_element {
    animation-duration: 0.25s;
    transition-timing-function: ease-in;
    animation-fill-mode: both;

}

.scene_element--fadein {
    animation-name: fadeIn;
}

.scene_element--fadeinup {
    animation-name: fadeInUp;
}
